.vscode/

sharedMemCpp/build/

sharedMemRs/target/
sharedMemRs/Cargo.lock

sharedMemMl/_build/
sharedMemMl/lib/
sharedMemMl/.merlin
sharedMemMl/sharedMem.install
sharedMemMl/sharedMem/sharedMem_c.install
sharedMemMl/sharedMem/dllSharedMemCpp_stubs.so
sharedMemMl/sharedMem/libSharedMemCpp_stubs.a

node/target/
node/Cargo.lock

protocol/.merlin
protocol/_build/
